{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>极客比价 | 注册</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4..min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-3">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">注册</h3>
                  </div>
                  <div class="panel-body">
                    <form action="{% url 'regist' %}" method="POST">
                        {% csrf_token %}
                        {% for field in regist_form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <p class="text-danger">{{ field.errors.as_text }}</p>
                        {% endfor %}
                          <span class="pull-left text-danger" >{{ regist_form.non_field_errors }}</span>
                          没有邀请码？<a href="{% url get_invation_qrcode %}">获取邀请码</a>
                          <button type="submit" class="btn btn-primary pull-right">注册</button>
                     </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>