{% extends 'base.html' %}
{% load timestamp_parse %}
{% block title %}
    极客比价 | 产品详情
{% endblock %}
{% block headextends %}
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/series-label.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://img.hcharts.cn/highcharts/themes/grid-light.js"></script>
{% endblock %}
{% block content %}
{#    基本信息 #}
    <div class="container">
        <div class="row ">
            <div class="col-xs-4 col-md-4 col-lg-4">
                <img src="{{ product.project_picUrl }}" alt="Geek 比价" class="img-responsive">
            </div>
            <div class="col-xs-4 col-md-4">
                <p style="font-size: 22px">{{ product.project_name }}</p>
                <p style="font-size: 22px"><span class="label label-info">标签</span></p>
                <p>{{ product.project_desc}}</p>
                <hr>
                <p>好评率：{{ product.project_score}}</p>
                <strong style="color: #c00000;margin-right: 1em">{{ product.project_platform }} |  {{ product.project_price }}</strong>
                <a href="{{ product.project_url }}"><button type="button" class="btn btn-danger">前往购买</button></a><br><br>
                <hr>
{#                后续优化：根据关键字异步加载#}
                <p>其他平台同类产品：</p>
                {% if product.website_id == 2 and xiaomi_product %}
                    <strong style="color: #5bc0de;margin-right: 1em">小米有品 |  {{ xiaomi_product.project_name }}</strong>
                    <p style="color: #c00000;margin-right: 1em;margin-top: 1em">{{ xiaomi_product.project_price}} |  好评率：{{ xiaomi_product.project_score}}%</p>
                    <a href="{{ xiaomi_product.project_url }}"><button type="button" class="btn btn-info">前往购买</button></a><br><br>
                {% elif product.website_id == 1 and wangyi_product %}
                    <strong style="color: #5bc0de;margin-right: 1em">网易严选 |  {{ wangyi_product.project_name }}</strong>
                    <p style="color: #c00000;margin-right: 1em;margin-top: 1em">{{ wangyi_product.project_price}} |  好评率：{{ wangyi_product.project_score}}</p>
                    <a href="{{ wangyi_product.project_url }}"><button type="button" class="btn btn-info">前往购买</button></a><br><br>
                {% else %}
                    {% if product.website_id == 1 %}
                        <strong style="color: #5bc0de;margin-right: 1em">网易严选 |  暂无同类产品</strong><br><br>
                    {% elif product.website_id == 2%}
                        <strong style="color: #5bc0de;margin-right: 1em">小米有品 |  暂无同类产品</strong><br><br>
                    {% endif %}
                {% endif %}

{#                <strong style="color: #5bc0de;margin-right: 1em">苏宁易购 |  {{ product.project_name }}</strong>#}
{#                <p style="color: #c00000;margin-right: 1em;margin-top: 1em">{{ product.project_price}} |  好评率：{{ product.project_score}}</p>#}
{#                <a href="{{ product.project_url }}"><button type="button" class="btn btn-info">前往购买</button></a><br><br>#}
{##}
{#                <strong style="color: #5bc0de;margin-right: 1em">天猫商城 |  {{ product.project_name }}</strong>#}
{#                <p style="color: #c00000;margin-right: 1em;margin-top: 1em">{{ product.project_price}} |  好评率：{{ product.project_score}}</p>#}
{#                <a href="{{ product.project_url }}"><button type="button" class="btn btn-info">前往购买</button></a><br><br>#}
{##}
{#                <strong style="color: #5bc0de;margin-right: 1em">京东商城 |  {{ product.project_name }}</strong>#}
{#                <p style="color: #c00000;margin-right: 1em;margin-top: 1em">{{ product.project_price}} |  好评率：{{ product.project_score}}</p>#}
{#                <a href="{{ product.project_url }}"><button type="button" class="btn btn-info">前往购买</button></a><br><br>#}

            </div>
{#        后续优化：异步加载评论#}
            <div class="col-md-4" id="comment_list">
                {% for comment in comments %}
                    <div>
                        <p>评论者：{{ comment.comment_user }}</p>
                        <p>评论内容：{{ comment.comment_content }}</p>
                        <p>评论时间：{{ comment.comment_time|timestamp_parse:"%Y-%m-%d %X" }}</p>
                    </div>
                    <hr>
                {% empty %}
                    <p>暂无评论</p>
                {% endfor %}
            </div>
        </div>
    </div>
{#    历史价格曲线 #}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div id="container" ></div>
                <script>
                    var chart = Highcharts.chart('container', {
                        title: {
                            text: '该商品历史价格变化曲线'
                        },
                        subtitle: {
                            text: '数据来源：极客视界（www.geekview.cn）'
                        },
                        xAxis:{
                            categories:{{ product_date_list|safe }},
                            title: {
                                text: ''                 // 标题
                            },
                        },
                        yAxis: {
                            title: {
                                text: '商品价格'
                            }
                        },
                        credits:{enabled:false},
                        series: [{
                            name: '小米有品',
                            data: {% if product_price_list and product.website_id == 1 %}
                                        {{ product_price_list }}
                                   {% else %}
                                        []
                                   {% endif %}
                        }, {
                            name: '网易严选',
                            data: {% if product_price_list and product.website_id == 2 %}
                                        {{ product_price_list }}
                                   {% else %}
                                        []
                                   {% endif %}
                        }]
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div id="container_Cylindrical" ></div>
                <script>
                   Highcharts.chart('container_Cylindrical', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '该商品同类信息比较'
                        },
                        subtitle: {
                            text: '数据来源: <a href="http://www.geekview.cn">极客视界</a>.'
                        },
                        credits:{enabled:false},
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: ''
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y:.1f}'
                                }
                            }
                        },
                        tooltip: {
                            {#headerFormat: '<span style="font-size:11px">{series.name}</span><br>',#}
                            headerFormat: '',
                            pointFormat: '<a href="{point.product_url}"><span style="color:#000000">{point.product_name}</span>: <b>{point.y:.2f}</b></a><br/>'
                        },
                        series: [{
                            name: '',
                            colorByPoint: true,
                            data: [{
                                name: '最低价',
                                product_name:"{{ product_price_min.project_name|safe }}",
                                product_url:"{{ product_price_min.product_url|safe }}",
                                y: {{ product_price_min.project_price|default_parse:0.00 }},
                                color: '#338FCC'
                            }, {
                                name: '最高价',
                                product_name:"{{ product_price_max.project_name|safe }}",
                                product_url:"{{ product_price_max.product_url|safe }}",
                                y: {{ product_price_max.project_price|default_parse:0.00 }},
                                color: '#33ccff'
                            }, {
                                name: '本产品',
                                product_name:"{{ product.project_name|safe }}",
                                product_url:"{{ product.product_url|safe }}",
                                y: {{ product.project_price|safe }},
                                color: '#339966'
                            },{
                                name: '人气值',
                                {#可以自定义属性，通过point来获取对应属性的值#}
                                product_name:"{{ product.project_name|safe }}",
                                product_url:"{{ product.product_url|safe }}",
                                y: {{ product.comment_count|default_parse:0 }},
                                color: '#006666'
                            }]
                        }]
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}
