{% extends 'base.html' %}
{% block title %}
    极客比价 | 首页
{% endblock %}
{% block content %}
    <div class="container ">
{#        巨幕#}
        <div class="jumbotron">
          <h2>极客视界，更方便，更划算的视界</h2>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Geek geek</a></p>
        </div>

        <div class="row">
          <div class="col-md-3">
              <div class="panel panel-default" >
                  <div class="panel-heading" style="background-color: #ffffff">
                    <img src="http://img.youpin.mi-img.com/800_pic/a61016fbc9aae9a18ef0bde46c56f80d.png@base@tag=imgScale&h=350&w=350&et=1&eth=480&etw=480&etc=FFFFFF?t=webp" alt="音响" style="width: 195px;height: 195px;" class="img-rounded center-block">
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="panel panel-default" >
                  <div class="panel-heading" style="background-color: #ffffff">
                    <img src="http://img.youpin.mi-img.com/800_pic/a61016fbc9aae9a18ef0bde46c56f80d.png@base@tag=imgScale&h=350&w=350&et=1&eth=480&etw=480&etc=FFFFFF?t=webp" alt="音响" style="width: 195px;height: 195px;" class="img-rounded center-block">
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="panel panel-default" >
                  <div class="panel-heading" style="background-color: #ffffff">
                    <img src="http://img.youpin.mi-img.com/800_pic/a61016fbc9aae9a18ef0bde46c56f80d.png@base@tag=imgScale&h=350&w=350&et=1&eth=480&etw=480&etc=FFFFFF?t=webp" alt="音响" style="width: 195px;height: 195px;" class="img-rounded center-block">
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="panel panel-default" >
                  <div class="panel-heading" style="background-color: #ffffff">
                    <img src="http://img.youpin.mi-img.com/800_pic/a61016fbc9aae9a18ef0bde46c56f80d.png@base@tag=imgScale&h=350&w=350&et=1&eth=480&etw=480&etc=FFFFFF?t=webp" alt="音响" style="width: 195px;height: 195px;" class="img-rounded center-block">
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
              </div>
          </div>
        </div>
    </div>
{% endblock %}