{% extends 'base.html' %}
{% load static %}
{% block title %}
    极客比价 | 首页
{% endblock %}
{% block headextends %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                    <li class="active">
                        <a href="#">
                            <i class="glyphicon glyphicon-th-list"></i>
                            极客精选
                        </a>
                    </li>
                    <li>
                        <a href="#order_01" class="nav-header collapsed" data-toggle="collapse">
                            家居家纺 / 日杂文创
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="order_01" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li>
                                <a href="#order_01_01" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-home"></i>
                                    家居家纺
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_01_01" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="{% url 'product:category' 1101 %}">夏凉</a></li>
                                    <li><a href="{% url 'product:category' 1102 %}">床垫</a></li>
                                    <li><a href="{% url 'product:category' 1103 %}">灯具</a></li>
                                    <li><a href="{% url 'product:category' 1104 %}">家具</a></li>
                                    <li><a href="{% url 'product:category' 1105 %}">被子</a></li>
                                    <li><a href="{% url 'product:category' 1106 %}">枕头</a></li>
                                    <li><a href="{% url 'product:category' 1107 %}">床品件套</a></li>
                                    <li><a href="{% url 'product:category' 1108 %}">家饰花卉</a></li>
                                    <li><a href="{% url 'product:category' 1109 %}">布艺软装</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#order_01_02" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-book"></i>
                                    日杂文创
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_01_02" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="{% url 'product:category' 1201 %}">日用</a></li>
                                    <li><a href="{% url 'product:category' 1202 %}">纸品湿巾</a></li>
                                    <li><a href="{% url 'product:category' 1203 %}">工具</a></li>
                                    <li><a href="{% url 'product:category' 1204 %}">清洁</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#order_02" class="nav-header collapsed" data-toggle="collapse">
                            家用电器 / 电视影音
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="order_02" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li>
                                <a href="#order_02_01" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-hdd"></i>
                                    家用电器
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_02_01" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="{% url 'product:category' 2101 %}">生活电器</a></li>
                                    <li><a href="{% url 'product:category' 2102 %}#">空调/风扇</a></li>
                                    <li><a href="{% url 'product:category' 2103 %}">洗衣机</a></li>
                                    <li><a href="{% url 'product:category' 2104 %}">净水器</a></li>
                                    <li><a href="{% url 'product:category' 2105 %}">空气净化器</a></li>
                                    <li><a href="{% url 'product:category' 2106 %}">新风系统</a></li>
                                    <li><a href="{% url 'product:category' 2107 %}">冰箱</a></li>
                                    <li><a href="{% url 'product:category' 2108 %}">厨房家电</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#order_02_02" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-facetime-video"></i>
                                    电视影音
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_02_02" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="{% url 'product:category' 2201 %}">电视</a></li>
                                    <li><a href="{% url 'product:category' 2202 %}">盒子</a></li>
                                    <li><a href="{% url 'product:category' 2203 %}">投影</a></li>
                                    <li><a href="{% url 'product:category' 2204 %}">音箱</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#order_03" class="nav-header collapsed" data-toggle="collapse">
                            智能家庭 / 手机/电脑
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="order_03" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li>
                                <a href="#order_03_01" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-bed"></i>
                                    智能家庭
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_03_01" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="{% url 'product:category' 3101 %}">安防</a></li>
                                    <li><a href="{% url 'product:category' 3102 %}">网关/传感器</a></li>
                                    <li><a href="{% url 'product:category' 3103 %}">路由器</a></li>
                                    <li><a href="{% url 'product:category' 3104 %}">开关插座</a></li>
                                    <li><a href="{% url 'product:category' 3105 %}">酷玩</a></li>
                                    <li><a href="{% url 'product:category' 3106 %}">相机</a></li>
                                    <li><a href="{% url 'product:category' 3107 %}">穿戴</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#order_03_02" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-phone"></i>
                                    手机/电脑
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_03_02" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="{% url 'product:category' 3201 %}">手机</a></li>
                                    <li><a href="{% url 'product:category' 3202 %}">平板</a></li>
                                    <li><a href="{% url 'product:category' 3203 %}">电脑</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#order_04" class="nav-header collapsed" data-toggle="collapse">
                            数码配件
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="order_04" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                            <li><a href="#">办公周边</a></li>
                            <li><a href="#">手机周边</a></li>
                            <li><a href="#">耳机</a></li>
                            <li><a href="#">电源/电池</a></li>
                            <li><a href="#">适配器/线材</a></li>
                            <li><a href="#">电竞</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#order_05" class="nav-header collapsed" data-toggle="collapse">
                            鞋靴配饰 / 服装箱包
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="order_05" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">裤装</a></li>
                            <li><a href="#">衬衫</a></li>
                            <li><a href="#">运动/卫衣</a></li>
                            <li><a href="#">外套</a></li>
                            <li><a href="#">内衣</a></li>
                            <li><a href="#">内裤</a></li>
                            <li><a href="#">家居服</a></li>
                            <li><a href="#">袜子</a></li>
                            <li><a href="#">首饰</a></li>
                            <li><a href="#">手表</a></li>
                            <li><a href="#">眼镜</a></li>
                            <li><a href="#">配饰</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#order_06" class="nav-header collapsed" data-toggle="collapse">
                            餐具厨房 / 饮食酒水
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="order_06" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li>
                                <a href="#order_06_01" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-inbox"></i>
                                    餐具厨房
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_06_01" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="#">厨房电器</a></li>
                                    <li><a href="#">锅具</a></li>
                                    <li><a href="#">杯壶</a></li>
                                    <li><a href="#">刀剪砧板</a></li>
                                    <li><a href="#">茶咖洒具</a></li>
                                    <li><a href="#">功能厨具</a></li>
                                    <li><a href="#">餐具</a></li>
                                    <li><a href="#">厨房清洁</a></li>
                                    <li><a href="#">保险收纳</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#order_06_02" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-glass"></i>
                                    饮食酒水
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_06_02" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="#">方便食品</a></li>
                                    <li><a href="#">酒水/乳品</a></li>
                                    <li><a href="#">休闲小食</a></li>
                                    <li><a href="#">生鲜</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#order_07" class="nav-header collapsed" data-toggle="collapse">
                            运动健康 / 出行户外
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="order_07" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li>
                                <a href="#order_07_01" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    运动健康
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_07_01" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="#">保健器械</a></li>
                                    <li><a href="#">康体监护</a></li>
                                    <li><a href="#">运动健身</a></li>
                                    <li><a href="#">泳衣泳具</a></li>
                                    <li><a href="#">护理护具</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#order_07_02" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-phone"></i>
                                    出行户外
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_07_02" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="#">户外</a></li>
                                    <li><a href="#">骑行</a></li>
                                    <li><a href="#">汽车用品</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#order_08" class="nav-header collapsed" data-toggle="collapse">
                            洗护美妆 / 母婴亲子
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="order_08" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li>
                                <a href="#order_08_01" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-queen"></i>
                                    洗护美妆
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_08_01" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="#">口腔清洁</a></li>
                                    <li><a href="#">洗护工具</a></li>
                                    <li><a href="#">毛巾浴巾</a></li>
                                    <li><a href="#">基础护肤</a></li>
                                    <li><a href="#">身体护理</a></li>
                                    <li><a href="#">居家清洁</a></li>
                                    <li><a href="#">彩妆香氛</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#order_08_02" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-heart-empty"></i>
                                    母婴亲子
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="order_08_02" class="nav nav-list collapse secondmenu text-center" style="height: 0px;">
                                    <li><a href="#">玩具</a></li>
                                    <li><a href="#">出行</a></li>
                                    <li><a href="#">儿童穿戴</a></li>
                                    <li><a href="#">婴童服饰</a></li>
                                    <li><a href="#">童鞋童包</a></li>
                                    <li><a href="#">喂养</a></li>
                                    <li><a href="#">洗护</a></li>
                                    <li><a href="#">寝居</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-fire"></i>
                            其他
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                {#        轮播#}
                {% if product_Carousel_active %}
                    <div id="myCarousel" class="carousel slide">
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            {% if product_Carousel_active %}
                                <div class="item active">
                                    <a href="{% url 'product:product_detail' product_Carousel_active.website_id product_Carousel_active.original_id  %}">
                                        <img class="center-block" src="{{ product_Carousel_active.project_picUrl }}" alt="Geek View">
                                        <div class="carousel-caption">{{ product_Carousel_active.project_name }}</div>
                                    </a>
                                </div>
                            {% endif %}
                            {% for product in product_Carousel_list %}
                                <div class="item">
                                    <a href="{% url 'product:product_detail' product.website_id product.original_id  %}">
                                        <img class="center-block" src="{{ product.project_picUrl }}" alt="Geek View">
                                        <div class="carousel-caption">{{ product.project_name }}</div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                {% else %}

                {% endif %}


                <h3>小米有品</h3>
                {% if products.xiaomi %}
                    <div class="row">
                        {% for product in products.xiaomi %}
                            <div class="col-md-3">
                                <a href="{% url 'product:product_detail' product.website_id product.original_id  %}">
                                  <div class="panel panel-default" >
                                      <div class="panel-heading" style="background-color: #ffffff">
                                        <img src="{{ product.project_picUrl }}" alt="Geek 比价" style="width: 195px;height: 195px;" class="img-rounded center-block">
                                      </div>
                                      <div class="panel-body text-center">
                                        <p>{{ product.project_name|truncatechars:15 }}</p>
                                        <p>{{ product.project_desc|truncatechars:10 }}</p>
                                        <p style="color: #c00000">{{ product.project_platform }}|{{ product.project_price }}</p>
                                      </div>
                                  </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    暂无数据
                {% endif %}

                <h3>网易严选</h3>
                {% if products.wangyi %}
                    <div class="row">
                        {% for product in products.wangyi %}
                            <div class="col-md-3">
                                <a href="{% url 'product:product_detail' product.website_id product.original_id  %}">
                                  <div class="panel panel-default" >
                                      <div class="panel-heading" style="background-color: #ffffff">
                                        <img src="{{ product.project_picUrl }}" alt="Geek 比价" style="width: 195px;height: 195px;" class="img-rounded center-block">
                                      </div>
                                      <div class="panel-body text-center">
                                        <p>{{ product.project_name|truncatechars:15 }}</p>
                                        <p>{{ product.project_desc|truncatechars:10 }}</p>
                                        <p style="color: #c00000">{{ product.project_platform }}|{{ product.project_price }}</p>
                                      </div>
                                  </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    暂无数据
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}