{% extends 'base.html' %}
{% block title %}
    极客比价 | 首页
{% endblock %}
{% block content %}
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                    <li class="active">
                        <a href="#">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            居家
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="mytask"><i class="glyphicon glyphicon-user"></i>夏凉</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>床品件套</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>灯具</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-edit"></i>家具</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>家饰</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="./plans.html">
                            <i class="glyphicon glyphicon-credit-card"></i>
                            鞋包配饰
                        </a>
                    </li>
                    <li>
                        <a href="./grid.html">
                            <i class="glyphicon glyphicon-globe"></i>
                            服装
                            <span class="label label-warning pull-right">5</span>
                        </a>
                    </li>
                    <li>
                        <a href="./charts.html">
                            <i class="glyphicon glyphicon-calendar"></i>
                            电器
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-fire"></i>
                            洗护
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                {#        巨幕#}
                <div class="jumbotron">
                  <h2>极客视界，更方便，更划算的视界</h2>
                  <p>...</p>
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Geek geek</a></p>
                </div>

                <h3>小米有品</h3>
                <div class="row">
                    {% for product in product_list_1 %}
                        <div class="col-md-3">
                            <a href="{% url 'product:product_detail' product.website_id product.original_id  %}">
                              <div class="panel panel-default" >
                                  <div class="panel-heading" style="background-color: #ffffff">
                                    <img src="{{ product.project_picUrl }}" alt="Geek 比价" style="width: 195px;height: 195px;" class="img-rounded center-block">
                                  </div>
                                  <div class="panel-body text-center">
                                    <p>{{ product.project_name|truncatechars:15 }}</p>
                                    <p>{{ product.project_desc|truncatechars:10 }}</p>
                                    <p style="color: #c00000">{{ product.project_platform }}|{{ product.project_price }}</p>
                                  </div>
                              </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <h3>网易严选</h3>
                <div class="row">
                    {% for product in product_list_2 %}
                        <div class="col-md-3">
                            <a href="{% url 'product:product_detail' product.website_id product.original_id  %}">
                              <div class="panel panel-default" >
                                  <div class="panel-heading" style="background-color: #ffffff">
                                    <img src="{{ product.project_picUrl }}" alt="Geek 比价" style="width: 195px;height: 195px;" class="img-rounded center-block">
                                  </div>
                                  <div class="panel-body text-center">
                                    <p>{{ product.project_name|truncatechars:15 }}</p>
                                    <p>{{ product.project_desc|truncatechars:10 }}</p>
                                    <p style="color: #c00000">{{ product.project_platform }}|{{ product.project_price }}</p>
                                  </div>
                              </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}